/*Reset Css */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    background: white;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*Reset css*/

/* Fonts */

@font-face {
    font-family: 'LifeCraft';
    src: url('./fonts/LifeCraft.woff') format('woff2'),
        url('./fonts/LifeCraft.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.warcraft-font {
    font-family: 'LifeCraft';
}

/* Fonts */

/* Default */

button {
    background-color: transparent;
    border: none;
    transition: all ease .5s;
    outline: none;
}
.default-hover img, button.default-hover {
    transition: all ease .5s;
}
.default-hover img:hover, button.default-hover:hover {
    transition: all ease .5s;
    opacity: .7;
    transform: scale(.97);
}
.main-section {
    background-repeat: no-repeat;
}
.main-text p, .main-text li {
    font-size: 1.2rem;
    font-weight: 400;
    color: #b1997f;
    text-shadow: 0 0 1px transparent, 0 1px 2px rgba(0,0,0,.8);
    font-family: 'Montserrat';
}
.internal-title {
    line-height: 1.5;
	font-family: 'LifeCraft';
	color: #F6F25A;
	text-shadow: 0 0 1px transparent, 0 1px 2px rgba(0,0,0,.8);
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    font-size: 4rem;
}
.internal-section {
    padding: 100px 0;
}
.internal-subtitle {
    line-height: 1.5;
	font-family: 'Montserrat';
	color: #fff;
	text-shadow: 0 0 1px transparent, 0 1px 2px rgba(0,0,0,.8);
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-style: italic;
}
.stylized-divider {
    width: 100%;
    height: 46px;
    background-position: center;
    position: absolute;
}
.stylized-divider.bottom-divider {
    bottom: 0;
    left: 0;
}
.content {
    margin: 30px 0;
}
.background-section {
    height: 700px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
/* Default */