.main-title {
    position: absolute;
    top: 20%;
	width: 100%;
	z-index: 9;
	text-align: center;
}
.main-title h1 {
    color: #F6F25A;
    font-size: 5rem;
}
.warcraft-logo {
    position: absolute;
    transform: translateX(-50%);
    top: 5%;
    left: 50%;
    z-index: 9;
}